
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer{
    background-color:rgba(255, 255, 255, 0.1)
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div {
    display: block;
}
.slogan-header {
    text-align: right;
    color: #FFF;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
html {
    font-size: 10px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
.menu--menu-redes-sociales {
    text-align: right;
    height: 45px !important;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
ol, ul {
    padding-left: 1.5em;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
hoja de estilo de user-agent
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.logo img {
    max-width: 100%;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
hoja de estilo de user-agent
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}


div {
    display: block;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #fff;
}


.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}



.navbar-collapse {
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-overflow-scrolling: touch;
}
.collapse {
    display: none;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Titillium Maps';
    src: url("../fonts/TitilliumMaps29L002.eot");
    src: local('Titillium Maps'), local('TitilliumMaps'),
      url("../fonts/TitilliumMaps29L002.otf") format("opentype"),
      url("../fonts/TitilliumMaps29L002.woff") format("woff");
  }
  
  header{
      position: relative;
      height: 164px;
      margin: 0 auto;
      background: url(../images/header.jpg) repeat-x;
      -moz-border-radius: 5px;
      border-radius: 5px;
      -moz-box-shadow: 0 0 5px #b9b9b9;
      -webkit-box-shadow: 0 0 5px #b9b9b9;
      box-shadow: 0 0 5px #b9b9b9;	
  }
  body
  {
      width: 100%;
      background: #e1e1e1 url(../images/bg.png) repeat-x;
  }
  .logo
  {
      margin:0px;
      max-width:335.5px;
  }
  .logo img
  {
      max-width:100%;	
  }
  .logo + .name
  {
      display:none;
  }
  .navbar-default
  {
      border:0px;
      background-color: #1e1e1e
  }
  body.path-frontpage .main-container .region-header
  {
      display:none !important;
  }
  .block-bootstrap-simple-carousel img
  {
      width:100% !important;
  }
  .block-bootstrap-simple-carousel .carousel-caption h3
  {
      display:none;
  }
  .carousel-control.left,
  .carousel-control.right
  {
      background-image:none;
  }
  .navbar-nav > li > a
  {
      padding-top:8px;
      padding-bottom:9px;
      
      
      color: #fff !important;
      text-decoration: none;
      font-weight: normal;
      text-shadow: #999 1px;
 	
     
  }
 



  .navbar
  {
      margin-bottom: 2px;
  }
  .block-bootstrap-simple-carousel
  {
      position:relative;
      overflow:hidden;
  }
  .block-bootstrap-simple-carousel > div
  {
      margin-top:0px;
  }
  .main-container
  {
      position: relative;
      height: 100%;    
      border-bottom: 1px solid #bab9b9;
      color: #333;
      /*
      border-top: 1px solid #bab9b9;
      -moz-border-radius: 0 !important;
      border-top-right-radius: 0px !important;
      border-top-left-radius: 0px !important;
      -moz-box-shadow: 0 0 5px #b9b9b9;
      -webkit-box-shadow: 0 0 5px#b9b9b9;
      box-shadow: 0 0 5px #b9b9b9;	
      */
      background: #fff url(http://complejosantarosa.sunat.gob.pe/templates/beez_20/images/bg_cuerpo.jpg) repeat-x !important;
      overflow:hidden;
      
  }
  .section_top_1 img,
  .section_top_2 img,
  .section_top_3 img
  {
      width:auto;
      max-width:100%;
  }
  .section_top_1 .titulo
  {
      margin-top:20px;
      font-size: 22px;
      font-family: 'Titillium Maps', Arial;
      margin-bottom: 20px;
      font-weight: bold;
      border-bottom: 1px solid #8B8B8B;	
  }
  .documentos .file .file-icon,
  .documentos .file .file-size
  {
      display:none;
  }
  .documentos .file .file-link a
  {
      font-size: 16px;
      font-family: 'Titillium Maps', Arial;
      margin-bottom: 5px;
      font-weight: bold;	
      text-decoration:none;
      color:#0D4C89;
  }
  .documentos .file > span
  {
      border:0px !important;
  }
  .carousel-caption
  {
      width: 100%;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 10px 10px !important;	
      
      background: rgba(0, 0, 0, 0.6);
      bottom: 0;
      color: #FFF;
      font: normal 12px/22px Arial,sans-serif;
      left: 0;
      right: 0;
      overflow: hidden;
      position: absolute;
      padding: 0 10px;
      z-index: 10000;	
      
      text-align:left;
  }
  .footer
  {
      margin-top:0px;
      border-top:0px;
      background: #222; 
      text-align: left;
      -moz-box-shadow: 0 0 5px #555;
      -webkit-box-shadow: 0 0 5px #555;
      box-shadow: 0 0 5px #555;	
  }
  .footer p
  {
      color:#fff;
      font-family: Arial;
  }
  .footer ul,
  .footer ul li
  {
      display:inline-block;
      padding:0px;
      margin:0px;
      list-style:none;
  }
  .footer ul li img
  {
      max-height:62px;
  }
  .footer ul li
  {
      padding:0px 15px;
  }
  .footer h2
  {
      font-size: 16px;
      font-family: 'Titillium Maps', Arial;
      margin-bottom: 5px;
      font-weight: bold;	
      color:#FFF;
  }
  .mapa_footer
  {
      margin-top:10px;
      display: inline-block;
  }
  .footer-copyright p
  {
      text-align:right;
      margin-top:20px;	
  }
  body.path-node .main-container
  {
      padding:30px 0px;
      background: #fff url(http://complejosantarosa.sunat.gob.pe/templates/beez_20/images/bg_cuerpo.jpg) repeat-x !important;
  }
  body.path-node .main-container img
  {
      max-width: 100%;
      width: auto;	
  }	
  
  body.path-node .page-header,
  body.path-contact .page-header
  {
      font-size: 22px;
      font-family: 'Titillium Maps', Arial;
      margin-bottom: 20px;
      font-weight: bold;
      border-bottom: 1px solid #8B8B8B;
      color:#0d4c89;	
  }
  body.path-contact .main-container
  {
      padding:40px 0px;
  }
  
  body.path-node .menu--menu-lateral
  {
      margin: 5px 0 0 0;
      padding: 0;
      list-style: none;
      padding: 0;
      list-style-type: none;	
  }
  body.path-node .menu--menu-lateral li
  {
      list-style: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      border-bottom: 1px dotted #6e99c2;	
  }
  body.path-node .menu--menu-lateral li a
  {
      display: block;
      margin: 0;
      padding: 4px 0 4px 15px;
      line-height: 22px;
      background: url(../images/dark.gif) 0% 50% no-repeat;
      text-decoration: none;
      font-size: 14px;
      text-align: left;
      color: #555;	
  }
  .quienes-somos-lateral h2
  {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      height: 34px;
      line-height: 34px;
      color: #0d4c89;
      padding: 4px 0 0 11px;
      font-family: 'Titillium Maps', Arial;	
  }
  .slogan-header
  {
      text-align:right;
      color:#FFF;
  }
  .menu--menu-redes-sociales
  {
      text-align:right;
      height: 45px !important;
  }
  .menu--menu-redes-sociales li 
  {
      display:inline-block;
  }
  .menu--menu-redes-sociales li a
  {
      width:30px;
      text-indent: -99999999px;
      overflow: hidden;
      color: transparent;
      padding-right:0px;
      
  }
  .contactenos
  {
      display:inline-block;
      width:100%;
  }
  .contactenos img
  {	
      width:auto !important;
  }
  .contactenos h3
  {
      margin-top: 10px;
      font-size:13px;
      font-family: 'Titillium Maps', Arial;
      color: #0d4c89;
  }
  @media (min-width: 768px)
  {
      .navbar-header
      {
          float: none;
      }	
  }
  @media(max-width:767px)
  {
      header
      {
          height:auto;
          background-size: auto 216px;
      }
      .navbar .logo
      {
          float:none !important;
          margin:auto;
          display:block;
      }
      .brand-peru,
      .menu--menu-redes-sociales
      {
          text-align:center !important;
      }
      .brand-peru
      {
          margin-bottom:15px;
          line-height: 7px;
      }
      .menu--menu-redes-sociales
      {
          text-align: right;
          height: 40px !important;
      }	
      .path-frontpage .main-container .col-sm-12
      {
          padding:0px;
      }
       
 
  }

  .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

header{
    background-color: rgb(135,35,35)!important;
}


.brand-peru.escudo-peru img {
    

    
        position: absolute;
        right: 0;
        bottom: 0;
       
        margin-bottom: 25px;
        margin-right: 25px;

        width: 50px;
      
      

}